Repository SegoviaDiego/gorra-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore: 🤖 Zeit (#1)
  .gitignore
  now.json
  yarn.lock
Due: prettier --write

chore: 🤖 add linters & clean-up configs
  .commitlintrc.json
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  jest.config.json
  package.json
  src/app.controller.spec.ts
  src/app.module.ts
  src/main.ts
  test/app.e2e-spec.ts
  tsconfig.build.json
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

feat: 🎸 configure MongoDB
  package.json
  src/app.module.ts
Due: prettier --write, tslint --fix

chore: 🤖 ignore lockfiles (#2)
  .gitignore
Due: none

feat: 🎸 configure MongoDB (#4)
  package.json
  src/app.module.ts
Due: prettier --write, tslint --fix

feat: 🎸 implement basic greeting webhook bot
  .gitignore
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/slack-webhook/model/callbacks/callback.ts
  src/slack-webhook/model/callbacks/event-callback.ts
  src/slack-webhook/model/callbacks/events/event.ts
  src/slack-webhook/model/callbacks/events/index.ts
  src/slack-webhook/model/callbacks/events/message.ts
  src/slack-webhook/model/callbacks/index.ts
  src/slack-webhook/model/callbacks/uri-verification.ts
  src/slack-webhook/model/handler.ts
  src/slack-webhook/model/index.ts
  src/slack-webhook/model/request.ts
  src/slack-webhook/slack-webhook.config.ts
  src/slack-webhook/slack-webhook.controller.spec.ts
  src/slack-webhook/slack-webhook.controller.ts
  src/slack-webhook/slack-webhook.module.ts
  src/slack-webhook/slack-webhook.pipe.spec.ts
  src/slack-webhook/slack-webhook.pipe.ts
  src/slack-webhook/slack-webhook.service.spec.ts
  src/slack-webhook/slack-webhook.service.ts
  tsconfig.json
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  tslint --fix: any of: *.ts
